@font-face {
  font-family: 'iconfont';  /* project id 1814590 */
  src: url('//at.alicdn.com/t/font_1814590_97b6u29sfga.eot');
  src: url('//at.alicdn.com/t/font_1814590_97b6u29sfga.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1814590_97b6u29sfga.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1814590_97b6u29sfga.woff') format('woff'),
  url('//at.alicdn.com/t/font_1814590_97b6u29sfga.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1814590_97b6u29sfga.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
